
---
---
// {
//     // Breakpoints
//     $large-breakpoint: 64em ;
//     $medium-breakpoint: 42em ;
    
//     // Headers
//     $header-heading-color: #fff !default;
//     $header-bg-color: #e4ae4b ;
//     $header-bg-color-secondary: #99152b ;
    
//     // Text
//     $section-headings-color: #c56d1a ;
//     $body-text-color: #716061 ;
//     $body-link-color: #b81e1e ;
//     $blockquote-text-color: #819198 ;
    
//     // Code
//     $code-bg-color: #f3f6fa ;
//     $code-text-color: #827456;
    
//     // Borders
//     $border-color: #dce6f0 ;
//     $table-border-color: #e9ebec ;
//     $hr-border-color: #eff0f1 ;
    
// }

@import '{{ site.theme }}';